{% extends 'blog/base.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
  <div class="row mt-5">
    <h1>Blog Post</h1>
    <div class="col-sm-8">
      <form method="POST">
        <legend class=""></legend>
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">{{ form.title.label }}</label>
          {% render_field form.title class="form-control" %}
        </div>
        <div class="mb-3">
          <label class="form-label">{{ form.content.label }}</label>
          {% render_field form.content class="form-control" %}
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-dark" type="submit">Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}