{% extends 'blog/base.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
  <div class="row mt-5">
    <h1>Delete Post</h1>
    <div class="col-sm-8">
      <form method="POST">
        <legend class=""></legend>
        {% csrf_token %}
        <h2>Are you sure you want to delete "{{ object.title }}"?</h2>
        <button class="btn btn-danger" type="submit">Yes, Delete</button>
        <a class="btn btn-warning" href="{% url 'detail_post' object.id %}">Cancle</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}