{% extends 'blog/base.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
  <div class="row pt-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          {% if form.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
          {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
          {% endfor %}
          {% endif %}
          <form method="POST" enctype="multipart/form-data">
            <legend class="">REGISTER</legend>
            {% csrf_token %}
            <div class="row">
              <div class="mb-3">
                <label class="form-label">{{ form.username.label }}</label>
                {% render_field form.username class="form-control" %}
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">{{ form.first_name.label }}</label>
                  {% render_field form.first_name class="form-control" %}
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">{{ form.last_name.label }}</label>
                  {% render_field form.last_name class="form-control" %}
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">{{ form.email.label }}</label>
              {% render_field form.email class="form-control" %}
            </div>
            <div class="mb-3">
              <label class="form-label">{{ profile_form.profile_picture.label }}</label>
              {% render_field profile_form.profile_picture class="form-control" %}
            </div>
            <div class="mb-3">
              <label class="form-label">{{ form.password1.label }}</label>
              {% render_field form.password1 class="form-control" %}
            </div>
            <div class="mb-3">
              <label class="form-label">{{ form.password2.label }}</label>
              {% render_field form.password2 class="form-control" %}
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-dark" type="submit">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
{% endblock %}